{% extends "layout.html" %}

{% load static %}

{% block style %}

  <!-- Select2 CSS -->
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

  <style>
    #imagePreview {
        max-width: 100%;
        max-height: 300px;
        display: none; /* Initially hidden */
    }
  </style>
{% endblock style %}

{% block content %}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>New User</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

            <div class="row">
                <div class="col-md-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">New User Details</h3>
  
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <form action="/users/register/" method="post" enctype="multipart/form-data">
                              {% csrf_token %}
                                <div class="row">
                                  <div class="col-md-6">
                                    
                                    <div>
                                        <label for="id_first_name">First Name:</label>
                                        {{ form.first_name }}
                                    </div>
                                    <div>
                                        <label for="id_last_name">Last Name:</label>
                                        {{ form.last_name }}
                                    </div>
                                    <div>
                                        <label for="id_username">Username:</label>
                                        {{ form.username }}
                                    </div>
                                    {% if form.errors %}
                                        <ul>
                                            {% for field, errors in form.errors.items %}
                                                <li>{{ field }}: {{ errors|join:", " }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <label for="id_email">Email:</label>
                                        {{ form.email }}
                                    </div>
                                    <div>
                                        <label for="id_password1">Password:</label>
                                        {{ form.password1 }}
                                    </div>
                                    <div>
                                        <label for="id_password2">Confirm Password:</label>
                                        {{ form.password2 }}
                                    </div>
                                    <br/>
                                        <div class="form-group">
                                            <a href="javascript:history.back()" class="btn btn-secondary">Cancel</a>
                                            <button type="submit"  class="btn btn-success btn_block">Register</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>

{% endblock %}

{% block script %}
<!-- Select2 JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

<script>
    $(function () {
        //Initialize Select2 Elements
        $('.select2').select2()
    });

   


  </script>
{% endblock script %}
