{% extends "layout.html" %}

{% load static %}

{% block style %}

  <!-- Select2 CSS -->
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

  <style>
    #imagePreview {
        max-width: 100%;
        max-height: 300px;
        display: none; /* Initially hidden */
    }
  </style>
{% endblock style %}

{% block content %}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>New Post</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Mystery Object</h3>
  
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <form action="{% url 'new_item' %}" method="post" enctype="multipart/form-data">
                              {% csrf_token %}
                                <div class="row">
                                  <div class="col-md-4">
                                      <div class="form-group">
                                          <label for="inputName">ID</label>
                                          <input type="number" name="id" value="{{item_max_no}}" class="form-control" readonly>
                                      </div>
                                      <div class="form-group">
                                          <label for="name">Name</label>
                                          <input type="text" name="name" class="form-control">
                                      </div>
                                      <div class="form-group">
                                          <label for="description">Description</label>
                                          <textarea rows="3"  name="description" class="form-control"></textarea>
                                      </div>
                                      <div class="form-group">
                                          <label for="tag">Tag</label>
                                          <input type="text" name="tag" class="form-control">
                                      </div>
                                      <div class="form-group">
                                          <label for="size">Size</label>
                                          <div class"form-group"  style="display: flex; align-items: center;">
                                            <input type="text" name="width" placeholder="width" class="form-control" >
                                            <input type="text" name="length" placeholder="length" class="form-control" >
                                            <input type="text" name="height" placeholder="height" class="form-control" >
                                            <select class="form-control select2" name="measurement_unit_id" style="margin-left: auto;" required>
                                                {% for measurementUnit in measurementUnits %}
                                                <option value="{{ measurementUnit.id }}">{{ measurementUnit.title }}</option>
                                            {% endfor %}
                                              </select>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label for="price">Price</label>
                                          <div class"form-group"  style="display: flex; align-items: center;">
                                          <input type="number" name="price" class="form-control" value="0" style="flex-grow: 1; margin-right: 10px; width: 100%;">
                                          <select class="form-control select2" name="currency_id" style="margin-left: auto;" required>
                                            {% for currency in currencies %}
                                            <option value="{{ currency.id }}">{{ currency.title }}</option>
                                            {% endfor %}
                                          </select>
                                        </div>
                                      </div>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="test">Taste</label>
                                        <input type="text" name="taste" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="smell">Smell</label>
                                        <input type="text" name="smell" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Material</label>
                                            <select class="form-control select2" name="material_id" required>
                                              {% for material in materials %}
                                              <option value="{{ material.id }}">{{ material.title }}</option>
                                              {% endfor %}
                                            </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Color</label>
                                            <select class="form-control select2" name="color_id" required>
                                              {% for color in colors %}
                                              <option value="{{ color.id }}">{{ color.title }}</option>
                                              {% endfor %}
                                            </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Shape</label>
                                            <select class="form-control select2" name="shape_id" required>
                                              {% for shape in shapes %}
                                              <option value="{{ shape.id }}">{{ shape.title }}</option>
                                          {% endfor %}
                                            </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="weight">Weight</label>
                                        <div class"form-group"  style="display: flex; align-items: center;">
                                        <input type="text" name="weight" class="form-control" style="flex-grow: 1; margin-right: 10px; width: 100%;">
                                        <select class="form-control select2" name="weight_unit_id" style="margin-left: auto;" required>
                                            {% comment %} {% for currency in currencies %} {% endcomment %}
                                            <option value="1">Gr</option>
                                            <option value="2">KGr</option>
                                            {% comment %} {% endfor %} {% endcomment %}
                                          </select>
                                        </div>
                                    </div>
                                  </div>
                                    <div class="col-md-4">
                                      <div class="form-group">
                                          <label for="location">Location</label>
                                          <input type="text" name="location" class="form-control">
                                      </div>
                                      <div class="form-group">
                                        <label for="image">Image</label>
                                        <!-- Image input field -->
                                        <input type="file" id="imageInput" class="form-control" name="image" accept="image/*" required><br/>
                                        
                                        <!-- Preview area for the selected image -->
                                        <img id="imagePreview" src="#" alt="Image Preview"><br/>
                                
                                      </div>
                                        <div class="form-group">
                                            <a href="/items" class="btn btn-secondary">Cancel</a>
                                            <button type="submit"  class="btn btn-success btn_block">Post</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>

{% endblock %}

{% block script %}
<!-- Select2 JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

<script>
    $(function () {
        //Initialize Select2 Elements
        $('.select2').select2()
    });

      // Select the file input and image preview elements
  const imageInput = document.getElementById('imageInput');
  const imagePreview = document.getElementById('imagePreview');

  // When a user selects an image, trigger the preview
  imageInput.addEventListener('change', function (event) {
      const file = event.target.files[0]; // Get the file from input
      if (file) {
          const reader = new FileReader(); // File reader to read the image file

          reader.onload = function (e) {
              // Set the image preview to the file's data URL
              imagePreview.src = e.target.result;
              imagePreview.style.display = 'block'; // Show the preview
          };

          // Read the file as a data URL
          reader.readAsDataURL(file);
      }
  });
  </script>
{% endblock script %}
