{% extends "layout.html" %}

{% load static %}

{% block script_before_body %}

{% endblock %}


{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Posts</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="card">
                <div class="card-body">
                    <a href="/item/new/" class="btn btn-success btn-sm text-white" title="Post New Mystery Object">
                        <i class="fa fa-plus" aria-hidden="true"></i><b> New Post</b>
                    </a>
                    <br/>
                    <br/>
                    <div class="table-responsive">
                    <table class="table table-striped projects" id="example1">
                        <thead>
                        <tr>
                            <th style="width: 5%">
                                #
                            </th>
                            <th style="width: 25%">
                                Name
                            </th>
                            <th style="width: 35%">
                                Descriptions
                            </th>
                            <th style="width: 21%">
                                Dimensions
                            </th>
                            <th style="width: 14%" class="text-center">
                                Actions
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for item in myitems %}
                        <tr>
                            <td>
                                {{ item.id }}
                            </td>
                            <td>
                                {{ item.name }}
                            </td>
                            <td id="item">
                                {{ item.description }}
                            </td>
                            <td>
                                {{ item.length }} x {{ item.width }} x {{ item.height }} {{ item.length_unit__title }}
                            </td>
                            <td class="project-actions text-right">
                                <a href="{% url 'show_item' item.id %}" title="view item"><button class="btn btn-info btn-sm"><i class="fa fa-eye" aria-hidden="true"></i></button></a>
                                <form method="POST" action="{% url 'inactivate_item' item.id %}" accept-charset="UTF-8" style="display:inline">
                                    {% csrf_token %}
                                    <button type="submit" 
                                    {% if item.active == 1 %} 
                                        class="btn btn-info btn-sm" title="Resolve Item">
                                        <i class="fa fa-ban" aria-hidden="true"></i>
                                    {% else %} 
                                        class="btn btn-primary btn-sm" title="Unresolve Item">
                                        <i class="fa fa-sync-alt" aria-hidden="true"></i>
                                    {% endif %}
                                </button>
                                </form>
                                <form method="POST" action="{% url 'delete_item' item.id %}" accept-charset="UTF-8" style="display:inline">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger btn-sm" title="delete item"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->



{% endblock content %}






{% block script %}
    <!-- DataTables  & Plugins -->
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
    <script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
    <script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
    <script >
        $(document).ready(function() {

            $('#example1').DataTable( {
                order: [[0, 'desc']],
                columnDefs: [
                    { orderable: false, targets: -1 },
                    { searchable: false, targets: -1 },
                ],
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'copyHtml5',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'csvHtml5',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        exportOptions: {
                            columns: ':visible'
                        },
                        customize: function (doc) {
                            doc.content[1].table.widths = Array(doc.content[1].table.body[0].length + 1).join('*').split('');
                        }
                    },
                    {
                        extend: 'print',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    'colvis'
                ]
            } );

            //for hiding flash message
            setTimeout(function(){
                $("#unsuccessMessage").remove();
                $("#success").remove();
            }, 2500 );
        } );
        
        document.querySelectorAll('.btn-danger').forEach(button => {
            button.addEventListener('click', function (e) {
                if (!confirm('Are you sure you want to delete this item?')) {
                    e.preventDefault();
                }
            });
        });
        

    </script>
    {% endblock script %}

    {% block last_style %}


    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
    <style>
        .dataTables_wrapper .dataTables_paginate .paginate_button {
            padding : 0px;
            margin-left: 0px;
            display: inline;
            border: 0px;
            gap: 0px; /* Remove spacing between buttons */
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
            border: 0px;
        }
    </style>
    
    {% endblock last_style %}
